doctype html
html(lang="en")
  head
    title Fantasy Draft Tool
    link(rel="stylesheet", href="/stylesheets/app.css")
    link(rel="stylesheet", href="/stylesheets/bootstrap.min.css")
    link(rel="stylesheet", href="/stylesheets/bootstrap-theme.min.css")
    script(type='text/javascript', src="javascripts/jquery-2.1.1.min.js")

  body
    .container-fluid.main-content.show-positional
      .row
        form.form-horizontal
          .col-md-4
            .form-group
              .col-md-2
                label.control-label(for="searchText") Search
              .col-md-10
                input.search.form-control(name="searchText", type="text")
          .col-md-2
            .checkbox
              label
                input(name="takenToggle", type="checkbox")
                | Hide drafted players
          .col-md-2
            .checkbox
              label
                input(name="positionalToggle", type="checkbox", checked="checked")
                | Positional
          .col-md-2
            .pick
              span Current pick:
                span.pickCounter 1

      .row
        each positionPlayers, position in positions
          .col-md-2.positional
            .position
              table.table.table-hover.table-bordered
                th(colspan=2)= position
                each player in positionPlayers
                  - var playerName = player["Player Name"].toLowerCase()
                  - var pos = player["Position"].toLowerCase()
                  - var rank = player["Rank"]
                  tr.player(data-name=playerName, data-position=pos, data-id=rank)
                    td.rank= player["Rank"]
                    td.name= player["Player Name"]

        .col-md-3.absolute
          table.table.table-hover.table-bordered
            - for (var i = 0; i < 100; ++i) {
              - var playerName = players[i]["Player Name"].toLowerCase()
              - var pos = players[i]["Position"]
              - var rank = players[i]["Rank"]
              tr.player(data-name=playerName, data-position=pos.toLowerCase(), data-id=rank)
                td.rank= rank
                td.pos= pos
                td.name= players[i]["Player Name"]
            - }

        .col-md-3.absolute
          table.table.table-hover.table-bordered
            - for (var i = 100; i < 200; ++i) {
              - var playerName = players[i]["Player Name"].toLowerCase()
              - var pos = players[i]["Position"]
              - var rank = players[i]["Rank"]
              tr.player(data-name=playerName, data-position=pos.toLowerCase(), data-id=rank)
                td.rank= rank
                td.pos= pos
                td.name= players[i]["Player Name"]
            - }

        .col-md-3.absolute
          table.table.table-hover.table-bordered
            - for (var i = 200; i < 298; ++i) {
              - var playerName = players[i]["Player Name"].toLowerCase()
              - var pos = players[i]["Position"]
              - var rank = players[i]["Rank"]
              tr.player(data-name=playerName, data-position=pos.toLowerCase(), data-id=rank)
                td.rank= rank
                td.pos= pos
                td.name= players[i]["Player Name"]
            - }

        .col-md-2
          .my-team
            table.table.table-bordered
              th(colspan=2) Your Team
                tr.player(data-position="qb")
                  td.pos.col-md-2 QB
                  td.name
                tr.player(data-position="rb")
                  td.pos.col-md-2 RB
                  td.name
                tr.player(data-position="rb")
                  td.pos.col-md-2 RB
                  td.name
                tr.player(data-position="wr")
                  td.pos.col-md-2 WR
                  td.name
                tr.player(data-position="wr")
                  td.pos.col-md-2 WR
                  td.name
                tr.player(data-position="flx")
                  td.pos.col-md-2 FLX
                  td.name
                tr.player(data-position="te")
                  td.pos.col-md-2 TE
                  td.name
                tr.player(data-position="k")
                  td.pos.col-md-2 K
                  td.name

                tr.player(data-position="bn")
                  td.pos.col-md-2 BN
                  td.name
                tr.player(data-position="bn")
                  td.pos.col-md-2 BN
                  td.name
                tr.player(data-position="bn")
                  td.pos.col-md-2 BN
                  td.name
                tr.player(data-position="bn")
                  td.pos.col-md-2 BN
                  td.name
                tr.player(data-position="bn")
                  td.pos.col-md-2 BN
                  td.name
                tr.player(data-position="bn")
                  td.pos.col-md-2 BN
                  td.name
                tr.player(data-position="bn")
                  td.pos.col-md-2 BN
                  td.name

    script(type='text/javascript').
      $('.search').on('keyup', function(){
        var searchText = $(this).val().toLowerCase();

        if(searchText === ''){
          $('.player').show();
          return;
        }

        $('.player').hide();
        $( ".player[data-name*='"+searchText+"']" ).show();
      });

      $('tr').on('click', function(){
        var $player = $(this),
          name = $player.find('.name').text(),
          id = $player.attr('data-id'),
          pos = $player.attr('data-position'),
          taken = $player.hasClass('taken'),
          mine = $player.hasClass('mine'),
          $cells = $("[data-id='"+id+"']");

        if(mine) { $cells.removeClass('taken').removeClass('mine') }
        else if(taken) { $cells.addClass('mine') }
        else { $cells.addClass('taken') }

        mine = $player.hasClass('mine');
        updateMyTeam(name, id, pos, mine);
        updateCounter();
      });

      var updateMyTeam = function(name, id, position, mine) {
        var $team = $('.my-team .table');

        if(!mine) {
          var $player = $team.find("[data-id='"+id+"']");
          $player.removeAttr('data-id').find('.name').empty();
        } else {
          var $row = $team.find("tr[data-position='"+position+"']:not([data-id])").first();
          if(!$row.length && (position === 'rb' || position === 'wr')) $row = $team.find("tr[data-position='flx']:not([data-id])").first();
          if(!$row.length) $row = $team.find("tr[data-position='bn']:not([data-id])").first();
          $row.attr('data-id', id).find('.name').text(name);
        }
      };

      var updateCounter = function() {
        var count = $('.absolute .taken').length,
          pick = count+1;
        $('.pickCounter').text(pick);
      };

      $('[name=takenToggle').on('change', function(){
        var hide = $(this).prop('checked');
        $('.player.taken').toggle( !hide );
      });

      $('[name=positionalToggle').on('change', function(){
        var positional = $(this).prop('checked');
        $('.main-content').toggleClass( 'show-positional', positional );
        $('.main-content').toggleClass( 'show-absolute', !positional );
      });