doctype html
html(lang="en")
  head
    title Fantasy Draft Tool
    link(rel="stylesheet", href="/stylesheets/app.css")
    link(rel="stylesheet", href="/stylesheets/bootstrap.min.css")
    link(rel="stylesheet", href="/stylesheets/bootstrap-theme.min.css")
    script(type='text/javascript', src="javascripts/jquery-2.1.1.min.js")

  body
    .container-fluid
      .row
        form
          .col-md-4
            .form-group
              label(for="searchText") Search
              input.search.form-control(name="searchText", type="text")
          .col-md-4
            .checkbox
              label
                input(name="takenToggle", type="checkbox")
                | Hide drafted players

      .row
        each positionPlayers, position in positions
          .col-md-2
            .position
              table.table.table-hover.table-bordered
                th(colspan=2)= position
                each player in positionPlayers
                  - var playerName = player["Player Name"].toLowerCase()
                  - var pos = player["Position"].toLowerCase()
                  - var rank = player["Rank"]
                  tr.player(data-name=playerName, data-position=pos, data-id=rank)
                    td.rank= player["Rank"]
                    td.name= player["Player Name"]
        .col-md-2
          .my-team
            table.table.table-bordered
              th(colspan=2) Your Team
                tr.player(data-position="qb")
                  td.pos QB
                  td.name
                tr.player(data-position="rb")
                  td.pos RB
                  td.name
                tr.player(data-position="rb")
                  td.pos RB
                  td.name
                tr.player(data-position="wr")
                  td.pos WR
                  td.name
                tr.player(data-position="wr")
                  td.pos WR
                  td.name
                tr.player(data-position="flx")
                  td.pos FLX
                  td.name
                tr.player(data-position="te")
                  td.pos TE
                  td.name
                tr.player(data-position="k")
                  td.pos K
                  td.name

                tr.player(data-position="bn")
                  td.pos BN
                  td.name
                tr.player(data-position="bn")
                  td.pos BN
                  td.name
                tr.player(data-position="bn")
                  td.pos BN
                  td.name
                tr.player(data-position="bn")
                  td.pos BN
                  td.name
                tr.player(data-position="bn")
                  td.pos BN
                  td.name
                tr.player(data-position="bn")
                  td.pos BN
                  td.name
                tr.player(data-position="bn")
                  td.pos BN
                  td.name

    script(type='text/javascript', src="javascripts/underscore-1.6.0.min.js")

    script(type='text/javascript').
      $('.search').on('keyup', function(){
        var searchText = $(this).val().toLowerCase();

        if(searchText === ''){
          $('.player').show();
          return;
        }

        $('.player').hide();
        $( ".player[data-name*='"+searchText+"']" ).show();
      });

      $('tr').on('click', function(){
        var $player = $(this),
          name = $player.find('.name').text(),
          id = $player.attr('data-id'),
          pos = $player.attr('data-position'),
          taken = $player.hasClass('taken'),
          mine = $player.hasClass('mine');

        if(mine) { $player.removeClass('taken').removeClass('mine') }
        else if(taken) { $player.addClass('mine') }
        else { $player.addClass('taken') }

        mine = $player.hasClass('mine');
        updateMyTeam(name, id, pos, mine);
      });

      var updateMyTeam = function(name, id, position, mine) {
        var $team = $('.my-team .table');

        if(!mine) {
          var $player = $team.find("[data-id='"+id+"']");
          $player.removeAttr('data-id').find('.name').empty();
        } else {
          var $row = $team.find("tr[data-position='"+position+"']:not([data-id])").first();
          console.log($row);
          if(!$row.length) $row = $team.find("tr[data-position='bn']:not([data-id])").first();
          console.log($row);
          $row.attr('data-id', id).find('.name').text(name);
        }
      };

      $('[name=takenToggle').on('change', function(){
        var hide = $(this).prop('checked');
        $('.player.taken').toggle( !hide );
      });