doctype html
html(lang="en")
  head
    title Fantasy Football Draft Tool
    link(rel="stylesheet", href="/stylesheets/app.css")
    link(rel="stylesheet", href="/stylesheets/bootstrap.min.css")
    script(type='text/javascript', src="javascripts/jquery-2.1.1.min.js")

  body
    .container-fluid.main-content.show-positional

      .row
        .col-md-12
          .page-header
            h1
              | Fantasy Football Draft Tool

      .row
        .col-md-12.navbar-holder
          .col-md-12.navbar
            form.form-horizontal
              .col-md-2
                .form-group
                  .col-md-12
                    input.search.form-control(name="searchText", type="text", placeholder="Search")
              .col-md-2
                .checkbox
                  label
                    input(name="playerToggle", type="checkbox")
                    | Hide drafted players
              .col-md-6
                .checkbox
                  label
                    input(name="viewToggle", type="checkbox", checked="checked")
                    | Positional rankings
              .col-md-2
                .pick
                  span Current pick:
                    span.pickCounter 1

      .row
        .positional
          - orderedPositions = [{"QB": positions.QB}, {"RB": positions.RB}, {"WR": positions.WR}, {"TE": positions.TE}]
          each position, index in orderedPositions
            each positionPlayers, name in position
              .col-md-2
                table.table.table-hover.table-bordered
                  th(colspan=2, class="breadcrumb")= name
                  each player in positionPlayers
                    - var playerName = player["Player Name"].toLowerCase()
                    - var pos = player["Position"].toLowerCase()
                    - var rank = player["Rank"]
                    tr.player(data-name=playerName, data-position=pos, data-id=rank, class="breadcrumb")
                      td.rank= player["Rank"]
                      td.name= player["Player Name"]

          .col-md-2
            table.table.table-hover.table-bordered
              th(colspan=2, class="breadcrumb") K
              each player in positions.K
                - var playerName = player["Player Name"].toLowerCase()
                - var pos = player["Position"].toLowerCase()
                - var rank = player["Rank"]
                tr.player(data-name=playerName, data-position=pos, data-id=rank, class="breadcrumb")
                  td.rank= player["Rank"]
                  td.name= player["Player Name"]

            table.table.table-hover.table-bordered
              th(colspan=2, class="breadcrumb") DEF
              each player in positions.DEF
                - var playerName = player["Player Name"].toLowerCase()
                - var pos = player["Position"].toLowerCase()
                - var rank = player["Rank"]
                tr.player(data-name=playerName, data-position=pos, data-id=rank, class="breadcrumb")
                  td.rank= player["Rank"]
                  td.name= player["Player Name"]


        .absolute
          .col-md-3
            table.table.table-hover.table-bordered
              - for (var i = 0; i < 100; ++i) {
                - var playerName = players[i]["Player Name"].toLowerCase()
                - var pos = players[i]["Position"]
                - var rank = players[i]["Rank"]
                tr.player(data-name=playerName, data-position=pos.toLowerCase(), data-id=rank, class="breadcrumb")
                  td.rank= rank
                  td.pos= pos
                  td.name= players[i]["Player Name"]
              - }

          .col-md-3
            table.table.table-hover.table-bordered
              - for (var i = 100; i < 200; ++i) {
                - var playerName = players[i]["Player Name"].toLowerCase()
                - var pos = players[i]["Position"]
                - var rank = players[i]["Rank"]
                tr.player(data-name=playerName, data-position=pos.toLowerCase(), data-id=rank, class="breadcrumb")
                  td.rank= rank
                  td.pos= pos
                  td.name= players[i]["Player Name"]
              - }

          .col-md-3
            table.table.table-hover.table-bordered
              - for (var i = 200; i < 298; ++i) {
                - var playerName = players[i]["Player Name"].toLowerCase()
                - var pos = players[i]["Position"]
                - var rank = players[i]["Rank"]
                tr.player(data-name=playerName, data-position=pos.toLowerCase(), data-id=rank, class="breadcrumb")
                  td.rank= rank
                  td.pos= pos
                  td.name= players[i]["Player Name"]
              - }



        .col-md-2
          .my-team
            table.table.table-hover.table-bordered
              th(colspan=2) Your Team
                tr
                  td.pos.col-md-2 QB
                  td.name.player(data-position="qb")
                tr
                  td.pos.col-md-2 RB
                  td.name.player(data-position="rb")
                tr
                  td.pos.col-md-2 RB
                  td.name.player(data-position="rb")
                tr
                  td.pos.col-md-2 WR
                  td.name.player(data-position="wr")
                tr
                  td.pos.col-md-2 WR
                  td.name.player(data-position="wr")
                tr
                  td.pos.col-md-2 FLX
                  td.name.player(data-position="flx")
                tr
                  td.pos.col-md-2 TE
                  td.name.player(data-position="te")
                tr
                  td.pos.col-md-2 K
                  td.name.player(data-position="k")
                tr
                  td.pos.col-md-2 DEF
                  td.name.player(data-position="def")

                tr
                  td.pos.col-md-2 BN
                  td.name.player(data-position="bn")
                tr
                  td.pos.col-md-2 BN
                  td.name.player(data-position="bn")
                tr
                  td.pos.col-md-2 BN
                  td.name.player(data-position="bn")
                tr
                  td.pos.col-md-2 BN
                  td.name.player(data-position="bn")
                tr
                  td.pos.col-md-2 BN
                  td.name.player(data-position="bn")
                tr
                  td.pos.col-md-2 BN
                  td.name.player(data-position="bn")
                tr
                  td.pos.col-md-2 BN
                  td.name.player(data-position="bn")

    != js("pick-counter")
    != js("view-toggle")
    != js("player-toggle")
    != js("search")
    != js("players")
    != js("team")

    script(type='text/javascript').
      new ViewToggle($('[name=viewToggle'));
      new PlayerToggle($('[name=playerToggle'));
      new PickCounter($('.pickCounter'));
      new Search($('.search'));
      new Players($('.positional'));
      new Players($('.absolute'));
      new Team($('.my-team .table'));