doctype html
html(lang="en")
  head
    title DraftTracker
    link(rel="stylesheet", href="/stylesheets/app.css")
    link(rel="stylesheet", href="/stylesheets/bootstrap.min.css")
    link(rel="stylesheet", href="/stylesheets/font-awesome.min.css")
    script(type='text/javascript', src="javascripts/jquery-2.1.1.min.js")
    script(type='text/javascript', src="javascripts/bootstrap.min.js")
    script(type='text/javascript', src="javascripts/underscore-1.6.0.min.js")

  body
    .container-fluid.main-content.show-positional

      .row
        .col-md-12
          .page-header
            h1
              | Fantasy Football DraftTracker
              span.subtitle A Dan Howard Production

      .row
        .col-md-12.navbar-holder
          .col-md-12.navbar
            form.form-horizontal
              .col-md-2.col-sm-12.col-xs-8
                .form-group
                  .col-md-12
                    input.search.form-control(name="searchText", type="text", placeholder="Search")
              .col-md-2.col-sm-3.hidden-xs
                .checkbox
                  label
                    input(name="playerToggle", type="checkbox")
                    | Hide drafted players
              .col-md-2.col-sm-3.hidden-xs
                .checkbox
                  label
                    input(name="viewToggle", type="checkbox", checked="checked")
                    | Positional rankings
              .col-md-2.hidden-sm.hidden-xs
                .checkbox
                  label
                    input(name="tooltipToggle", type="checkbox")
                    | Show projections
              .col-md-2.col-sm-3.hidden-xs
                .radio
                  button.highlight
                    i.fa.fa-pencil
                  button.lowlight
                    i.fa.fa-pencil
              .col-md-2.col-sm-3.col-xs-4
                .pick
                  .hidden-xs
                    span Current pick:
                      span.pickCounter 1
                  .visible-xs
                    span Pick:
                      span.pickCounter 1

      .row
        .col-md-12
          .positional
            - positions = _.groupBy(players, "Position")
            - orderedPositions = [{"QB": positions.QB}, {"RB": positions.RB}, {"WR": positions.WR}, {"TE": positions.TE}]
            each position, index in orderedPositions
              each positionPlayers, name in position
                .col-md-2.col-sm-6.position-column
                  table.table.table-hover.table-bordered
                    th(colspan=2, class="breadcrumb")= name
                    each player in positionPlayers
                      - var playerName = player["Player Name"].toLowerCase()
                      - var pos = player["Position"].toLowerCase()
                      - var rank = player["Rank"]
                      tr.player(data-name=playerName, data-position=pos, data-id=rank, class="breadcrumb")
                        td.col-md-1.rank= player["Rank"]
                        td.name= player["Player Name"]

            .col-md-2.col-sm-6.position-column
              table.table.table-hover.table-bordered
                th(colspan=2, class="breadcrumb") K
                each player in positions.K
                  - var playerName = player["Player Name"].toLowerCase()
                  - var pos = player["Position"].toLowerCase()
                  - var rank = player["Rank"]
                  tr.player(data-name=playerName, data-position=pos, data-id=rank, class="breadcrumb")
                    td.col-md-1.rank= player["Rank"]
                    td.name= player["Player Name"]

              table.table.table-hover.table-bordered
                th(colspan=2, class="breadcrumb") DEF
                each player in positions.DEF
                  - var playerName = player["Player Name"].toLowerCase()
                  - var pos = player["Position"].toLowerCase()
                  - var rank = player["Rank"]
                  tr.player(data-name=playerName, data-position=pos, data-id=rank, class="breadcrumb")
                    td.col-md-1.rank= player["Rank"]
                    td.name= player["Player Name"]


          .absolute
            .col-md-3.col-sm-6.position-column
              table.table.table-hover.table-bordered
                - for (var i = 0; i < 105; ++i) {
                  - var playerName = players[i]["Player Name"].toLowerCase()
                  - var pos = players[i]["Position"]
                  - var rank = players[i]["Rank"]
                  tr.player(data-name=playerName, data-position=pos.toLowerCase(), data-id=rank, class="breadcrumb")
                    td.col-md-1.rank= rank
                    td.col-md-1.pos= pos
                    td.name= players[i]["Player Name"]
                - }

            .col-md-3.col-sm-6.position-column
              table.table.table-hover.table-bordered
                - for (var i = 105; i < 210; ++i) {
                  - var playerName = players[i]["Player Name"].toLowerCase()
                  - var pos = players[i]["Position"]
                  - var rank = players[i]["Rank"]
                  tr.player(data-name=playerName, data-position=pos.toLowerCase(), data-id=rank, class="breadcrumb")
                    td.col-md-1.rank= rank
                    td.col-md-1.pos= pos
                    td.name= players[i]["Player Name"]
                - }

            .col-md-3.col-sm-6.position-column
              table.table.table-hover.table-bordered
                - for (var i = 210; i < 315; ++i) {
                  - var playerName = players[i]["Player Name"].toLowerCase()
                  - var pos = players[i]["Position"]
                  - var rank = players[i]["Rank"]
                  tr.player(data-name=playerName, data-position=pos.toLowerCase(), data-id=rank, class="breadcrumb")
                    td.col-md-1.rank= rank
                    td.col-md-1.pos= pos
                    td.name= players[i]["Player Name"]
                - }



          .col-md-2.col-xs-12.my-team
            table.table.table-hover.table-bordered
              th(colspan=2) Your Team
                tr
                  td.pos.col-md-2 QB
                  td.name.player(data-position="qb")
                tr
                  td.pos.col-md-2 RB
                  td.name.player(data-position="rb")
                tr
                  td.pos.col-md-2 RB
                  td.name.player(data-position="rb")
                tr
                  td.pos.col-md-2 WR
                  td.name.player(data-position="wr")
                tr
                  td.pos.col-md-2 WR
                  td.name.player(data-position="wr")
                tr
                  td.pos.col-md-2 FLX
                  td.name.player(data-position="flx")
                tr
                  td.pos.col-md-2 TE
                  td.name.player(data-position="te")
                tr
                  td.pos.col-md-2 K
                  td.name.player(data-position="k")
                tr
                  td.pos.col-md-2 DEF
                  td.name.player(data-position="def")

                tr
                  td.pos.col-md-2 BN
                  td.name.player(data-position="bn")
                tr
                  td.pos.col-md-2 BN
                  td.name.player(data-position="bn")
                tr
                  td.pos.col-md-2 BN
                  td.name.player(data-position="bn")
                tr
                  td.pos.col-md-2 BN
                  td.name.player(data-position="bn")
                tr
                  td.pos.col-md-2 BN
                  td.name.player(data-position="bn")
                tr
                  td.pos.col-md-2 BN
                  td.name.player(data-position="bn")
                tr
                  td.pos.col-md-2 BN
                  td.name.player(data-position="bn")

    #instructions.modal.fade
      .modal-dialog.modal-lg
        .modal-content
          .modal-header
            button(type="button", class="close", data-dismiss="modal")
              span(aria-hidden="true") &times;
              span.sr-only Close
            h3.modal-title Welcome to DraftTracker, it's here to use during, you know... the draft. Here's a few basics to get you started.
          .modal-body
            h4.highlighted Click on a player to mark him as taken
            p Or double-click him to say that he's on your team.  He'll then show up in your team on the right hand side.
            h4.highlighted Drag and drop the players on your team to rearrange your lineup
            p Or just leave it alone and your team will autofill based on position
            h4.highlighted The stuff in the toolbar should be self-explanatory
            p Except maybe the pencil icons. You can use them to highlight players in the list, if you so choose.
            h1.highlighted Let me know if ya like it!
            p If people seem interested, I'll make it so you can log in and customize your rankings to your heart's content. To wit, if you disagree with the rankings that are currently there, I don't give a shit. They're imported from our good friends at rotoworld.
          .modal-footer
            button.btn.btn-default(type="button", data-dismiss="modal") Close

    != js("pick-counter")
    != js("view-toggle")
    != js("player-toggle")
    != js("search")
    != js("players")
    != js("team")
    != js("highlighter")

    script(type='text/javascript').
      allPlayers = !{JSON.stringify(players)}
      $('#instructions').modal()

    script(type='text/javascript').
      new ViewToggle($('[name=viewToggle'));
      new PlayerToggle($('[name=playerToggle'));
      new PickCounter($('.pickCounter'));
      new Search($('.search'));
      new Players($('.positional'));
      new Players($('.absolute'));
      new Team($('.my-team .table'));
      new Highlighter($('.highlight'), $('.lowlight'));

    script(type='text/javascript').
      $('form').on('submit', function(){
        return false;
      });